@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  color: rgba(255, 255, 255, 0.7);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10x 40px;
  margin-bottom: 30px;
  @media (max-width:"700px") {
    padding: 10px 10px !important;
  }
  .h-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    h3 {
      letter-spacing: 3px;
    }
    img {
      width: 60px;
    }
  }
  .buttons {
    display: flex;
    gap: 10px;
    a {
      background-color: gold;
      padding: 5px 10px;
      color: black;
      border-radius: 10px;
      @media (max-width:"700px") {
        padding: 5px 5px !important;
      }
    }
    .active {
      box-shadow: 2px 2px 10px gold;
    }
  }
}

.logo {
display: flex;
align-items: center;
justify-content: center;
gap: 25px;
img{
  width: 80ppx;
}
h2{
  letter-spacing: 2px;
  font-weight: normal;
  color: #fff;
}
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 40px;
  div {
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background: none;
      border: 1px solid gray;
      color: #fff;
      outline: none;
      &:focus {
        box-shadow: 2px 2px 25px rgb(66, 66, 66);
      }
    }

    span {
      position: absolute;
      color: #ca0000;
      left: 0;
      bottom: -30px;
    }
  }
  button {
    background-color: #1a1a1a;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
    color: 81ace4;
    transition: 0.3s;
    &:disabled {
      opacity: 0.5;
    }
    &:hover {
      background-color: #3f3f3f;
    }
  }
}

.container{
  max-width: 700px;
  margin: auto;
  padding: 0 40px;
}

.cardd{
  margin:10px ;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    box-shadow: 0 0 20px rgb(144, 144, 144);
    transform: scale(1.2);
  }
}

button{
  margin: 10px;
  padding: 10px 20px;
  background-color: #e0e8ef;
  border-color: rgba(255, 255, 255, 0.33);
  box-shadow: -4px -2px 16px #fff;
  border-radius: 40px;
  color: #394554;
  transition: all .3s;
  &:hover{
    background-color: #e5edf5;
    box-shadow: -2px -1px 8px #fff;
    border-color: #536f93;
  }
  &:active{
    box-shadow: none;
  }
  
}

